root = true

[*.cs]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{asmdef,json,yml,yaml,uxml,uss}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
